.footer-container {
  padding: 2em 0;
  width: 100%;
  height: 200px;
  background-color: var(--logo-dgreen);
  background-image: url("../../assets/img/Sonne-Footer.png");
  background-repeat: no-repeat;
  background-position: initial;
  background-size: contain;
}
.footer-contact-social {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.title {
  color: var(--primary-bkg-color);
}
.info-text {
  color: var(--primary-text-color);
}
.social-icons {
  width: 60px;
}
