* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
:root {
  --primary-text-color: rgba(0, 0, 0, 0.6);
  --sec-text-color: rgba(255, 255, 255, 0.979);
  --primary-bkg-color: #ffc107;
  --sec-bkg-color: #a3c9a8;
  --ter-bkg-color: #84b59f;
  --qua-bkg-color: #69a297;
  --quin-bkg-color: #50808e;
}
