.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--sec-text-color);
  padding: 1em 2em;
  clip-path: polygon(5.8% 4%, 94.7% 0%, 96.1% 95%, 3.1% 93.5%);
}

.intro-title {
  color: var(--primary-bkg-color);
  margin: 1em 0.5em;
  font-family: "Noto Serif", serif;
}
.intro-sub {
  color: var(--sec-bkg-color);
  margin-right: 1em;
  font-size: 1.2rem;

  font-family: "Oswald", sans-serif;
}
.i0 {
  position: relative;
  left: -2em;
}
.i1 {
  position: relative;
  left: 2em;
}
.intro-typed {
  font-family: "Noto Serif", serif;
  color: 4rgb (236, 193, 98);
  font-size: 1.4rem;
}
.intro-text {
  text-align: center;
  max-width: 900px;

  padding: 1em 10%;
  font-family: "Oswald", sans-serif;
}
.uns-btn {
  background: var(--primary-bkg-color);

  padding: 1em 1.5em;
  border-radius: 15px;
  margin: 1em 0.5em 2em 0.5em;
}
.uns-btn a {
  color: var(--primary-text-color);
}
